@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
  background-color: #000000;
  color: white
}
.font-inter {
  font-family: "Inter", sans-serif;
}
::-moz-selection { /* Code for Firefox */
  opacity: 100;
  color: white;
  background: darkcyan;
}

::selection {
  opacity: 100;
  color: white;
  background: darkcyan;
}

::-webkit-scrollbar {
  height: 2px;
  width: 2px;
  /* display: none; */
}
::-webkit-scrollbar-track { 
  background: #000000;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb {
  background: #49494964;
  border-radius: 12px;
}